<!--
    - Using attribute from interface
    - Applying different pipes to attributes
-->

<h5>INTERPOLATION EXAMPLE</h5>
<p>{{hero.id }}</p>
<p>{{hero.name | uppercase}}</p>
<p>{{birthday | date }}</p>

<!--
    Two way binding

    -[(ngModel)] need to get register in app.module under FormsModule.
-->

<h5>TWO WAY BINDING EXAMPLE</h5>
<div id="twoWayBinding">
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>

<!--
    - Using *ngFor to display a list 
    - Added the select functionlaity of individual hero
-->

<h5>*ngFOR EXAMPLE</h5>
<ul class="heroes">
    <li *ngFor="let heroo of heroes" [class.selected]="hero === selectedHero" (click)="onSelectHero(heroo)">
        <a routerLink="/hero-detail/{{heroo.id}}">
                    <span class="badge">{{heroo.id}}</span> {{heroo.name}}
        </a>
    
    </li>
</ul>

